In [1]:
import numpy as np
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

In [2]:
df=pd.read_csv('C:/Users/MyPC/OneDrive/Documents/Inbiot VS/AICTE Combined List 1.csv', skiprows=[0],header=None)

In [3]:
df.head()

,0,1,2,3,4,5
0,1-7003786958,GOVERNMENT POLYTECHNIC MAYEM BICHOLIM,MAYEM BICHOLIM GOA,NORTH GOA,Government,Goa
1,1-7006364088,DON BOSCO COLLEGE OF ENGINEERING,"DON BOSCO, FATORDA,",SOUTH GOA,Private-Self Financing,Goa
2,1-7006458223,INSTITUTE OF SHIPBUILDING TECHNOLOGY,"BOGDA, VASCO-DA-GAMA, GOA 403802",SOUTH GOA,Govt aided,Goa
3,1-7006524807,GOA COLLEGE OF ENGINEERING (GOVERNMENT OF GOA),"FARMAGUDI, PONDA-GOA PIN-403401",NORTH GOA,Government,Goa
4,1-7010374121,SHREE RAYESHWAR INSTITUTE OF ENGINEERING AND I...,"SHIV SHAIL, KARAI, SHIRODA, GOA 403103",NORTH GOA,Private-Self Financing,Goa

In [ ]:
df.isnull().sum()

In [ ]:
df= df.dropna(axis=0)

In [ ]:
df.isnull().sum()

In [ ]:
from googlesearch import search

In [ ]:
df["WEBSITE"]=np.nan

In [ ]:
df.head()

In [ ]:
for i in range(0,df.shape[0]):
    query=df.iloc[i,1]
    for j in search(query, num=1, stop=1, pause=1):
        df.iloc[i,6]=j
        print(df.iloc[i,1],'\t',j)

In [ ]:
df.columns=['AICTE ID','NAME','ADDRESS','DISTRICT','INSTITUTE','STATE','WEBSITE']

In [ ]:
df.to_excel('C:/Users/MyPC/OneDrive/Documents/Inbiot VS/First 500/AICTE Combined List FINAL.xlsx')