In [8]:
import pandas as pd
import re
from matplotlib import pyplot as plt
import urllib.request
import numpy as np
df=pd.read_csv('C:/Users/MyPC/OneDrive/Documents/Inbiot VS/FINAL/Final after website/AICTE Combined List FINAL.csv')

In [6]:
df.head()

,Unnamed: 0,AICTE ID,NAME,ADDRESS,DISTRICT,INSTITUTE,STATE,WEBSITE
0,0,1-7003786958,GOVERNMENT POLYTECHNIC MAYEM BICHOLIM,MAYEM BICHOLIM GOA,NORTH GOA,Government,Goa,http://gpb.goa.gov.in/
1,1,1-7006364088,DON BOSCO COLLEGE OF ENGINEERING,"DON BOSCO, FATORDA,",SOUTH GOA,Private-Self Financing,Goa,https://www.dbcegoa.ac.in/
2,2,1-7006458223,INSTITUTE OF SHIPBUILDING TECHNOLOGY,"BOGDA, VASCO-DA-GAMA, GOA 403802",SOUTH GOA,Govt aided,Goa,http://www.isbt.ac.in/
3,3,1-7006524807,GOA COLLEGE OF ENGINEERING (GOVERNMENT OF GOA),"FARMAGUDI, PONDA-GOA PIN-403401",NORTH GOA,Government,Goa,http://www.gec.ac.in/
4,4,1-7010374121,SHREE RAYESHWAR INSTITUTE OF ENGINEERING AND I...,"SHIV SHAIL, KARAI, SHIRODA, GOA 403103",NORTH GOA,Private-Self Financing,Goa,https://ritgoa.ac.in/

In [9]:
df['EMAIL']=np.nan

In [10]:
df.head()

,Unnamed: 0,AICTE ID,NAME,ADDRESS,DISTRICT,INSTITUTE,STATE,WEBSITE,EMAIL
0,0,1-7003786958,GOVERNMENT POLYTECHNIC MAYEM BICHOLIM,MAYEM BICHOLIM GOA,NORTH GOA,Government,Goa,http://gpb.goa.gov.in/,NaN
1,1,1-7006364088,DON BOSCO COLLEGE OF ENGINEERING,"DON BOSCO, FATORDA,",SOUTH GOA,Private-Self Financing,Goa,https://www.dbcegoa.ac.in/,NaN
2,2,1-7006458223,INSTITUTE OF SHIPBUILDING TECHNOLOGY,"BOGDA, VASCO-DA-GAMA, GOA 403802",SOUTH GOA,Govt aided,Goa,http://www.isbt.ac.in/,NaN
3,3,1-7006524807,GOA COLLEGE OF ENGINEERING (GOVERNMENT OF GOA),"FARMAGUDI, PONDA-GOA PIN-403401",NORTH GOA,Government,Goa,http://www.gec.ac.in/,NaN
4,4,1-7010374121,SHREE RAYESHWAR INSTITUTE OF ENGINEERING AND I...,"SHIV SHAIL, KARAI, SHIRODA, GOA 403103",NORTH GOA,Private-Self Financing,Goa,https://ritgoa.ac.in/,NaN

In [ ]:
df.shape

In [ ]:
for i in range(0,df.shape[0]):
    try:
        weburl=urllib.request.urlopen(df.iloc[i,7])
        data=weburl.read().decode('utf-8')    
        valid=r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b'
        email=re.search(valid,data)
        if email!=None:
            a=email.group(0)
            df.iloc[i,8]=a
            print(i,df.iloc[i,2],'\t',email.group(0))
        else:
            print(i,'\t', "Match not found")    
    except Exception as error:
        print(error)

In [ ]:
df.to_csv('D:/Inbiot VS/EMAILS/Upto 5300/AICTE Combined List FINAL.csv')