In [69]:
import pandas as pd
df=pd.read_csv('C:/Users/MyPC/OneDrive/Documents/Inbiot VS/Filtering/No 3P Dupl Remove/ACTUAL Cleaned/Duplicates Removed  (No3party).csv',index_col=0)

In [70]:
df.head()

,NAME,ADDRESS,DISTRICT,INSTITUTE,STATE,WEBSITE,EMAIL
AICTE ID,,,,,,,
1-7003786958,GOVERNMENT POLYTECHNIC MAYEM BICHOLIM,MAYEM BICHOLIM GOA,NORTH GOA,Government,Goa,http://gpb.goa.gov.in/,NaN
1-7006364088,DON BOSCO COLLEGE OF ENGINEERING,"DON BOSCO, FATORDA,",SOUTH GOA,Private-Self Financing,Goa,https://www.dbcegoa.ac.in/,dbcefatorda@dbcegoa.ac.in
1-7006458223,INSTITUTE OF SHIPBUILDING TECHNOLOGY,"BOGDA, VASCO-DA-GAMA, GOA 403802",SOUTH GOA,Govt aided,Goa,http://www.isbt.ac.in/,isbt@isbt.ac.in
1-7006524807,GOA COLLEGE OF ENGINEERING (GOVERNMENT OF GOA),"FARMAGUDI, PONDA-GOA PIN-403401",NORTH GOA,Government,Goa,http://www.gec.ac.in/,enquiry@gec.ac.in
1-7010374121,SHREE RAYESHWAR INSTITUTE OF ENGINEERING AND I...,"SHIV SHAIL, KARAI, SHIRODA, GOA 403103",NORTH GOA,Private-Self Financing,Goa,https://ritgoa.ac.in/,principal.ritgoa@gmail.com

In [71]:
df.EMAIL.value_counts()

support@youth4work.com                                  36
14370afcdc17429f9e418d5ffbd0334a@sentry.wixpress.com    22
kyc.feedback@gmail.com                                   8
info@example.com                                         8
info@indcareer.com                                       6
                                                        ..
info@nspc.co.in                                          1
bankeybiharicollege@gmail.com                            1
mipbishnupur2014@gmail.com                               1
sapolytechniccollege@gmail.com                           1
info@mitbishnupur.ac.in                                  1
Name: EMAIL, Length: 2667, dtype: int64

In [72]:
a=df.EMAIL.value_counts()
#a.to_csv('C:/Users/MyPC/OneDrive/Documents/Inbiot VS/Filtering/No 3P Dupl Remove/ACTUAL Cleaned/Email Occurences after duplremov/emailoccur.csv')

In [73]:
edf=pd.read_csv('C:/Users/MyPC/OneDrive/Documents/Inbiot VS/Filtering/No 3P Dupl Remove/ACTUAL Cleaned/Email Occurences after duplremov/emailoccur.csv')

In [74]:
edf

                                                  EMAIL  OCCURENCES
0                                support@youth4work.com          36
1     14370afcdc17429f9e418d5ffbd0334a@sentry.wixpre...          22
2                                      info@example.com           8
3                                kyc.feedback@gmail.com           8
4                                    info@indcareer.com           6
...                                                 ...         ...
2662                             gpgannavaram@gmail.com           1
2663                            deancfdt@tanuvas.org.in           1
2664                         855rectprincipal@gmail.com           1
2665                             witswarangal@gmail.com           1
2666                             mriemcollege@gmail.com           1

[2667 rows x 2 columns]

In [75]:
edf.columns=['EMAIL','OCCURENCES']

In [76]:
edf.head(3)

                                               EMAIL  OCCURENCES
0                             support@youth4work.com          36
1  14370afcdc17429f9e418d5ffbd0334a@sentry.wixpre...          22
2                                   info@example.com           8

In [77]:
search=list(edf.EMAIL[edf.OCCURENCES>1])
search+=['.jpg','.png']

In [78]:
#search

# Separating Duplicate and Null Emails 
## (search, save and delete)

## 1. Searching Duplicate emails

In [79]:
b=df[df['EMAIL'].str.contains('|'.join(search),na=False)]
b.head(4)
#p=(b.index).tolist()
#origdf.drop(labels=p,inplace=True)

,NAME,ADDRESS,DISTRICT,INSTITUTE,STATE,WEBSITE,EMAIL
AICTE ID,,,,,,,
1-7002311099,SIGMA ENGINEERING COLLEGE (MATAR),AT: MATAR TA: AMOD DIST: BHARUCH,BHARUCH,Private-Self Financing,Gujarat,https://www.sigma.ac.in/leads.php,info@sigma.ac.in
1-7003685838,S.B.POLYTECHNIC,"K.J.CAMPUS, OPP. I.T.I, JAVLA-SAVLI, P.O.SAVLI...",VADODARA,Private-Self Financing,Gujarat,https://www.kjit.org/institutes/sb-polytechnic/,info@kjit.org
1-7003841321,K.J.INSTITUTE OF ENGINEERING & TECHNOLOGY,"K.J.INSTITUTE OF ENGINEERING & TECHNOLOGY, OPP...",VADODARA,Private-Self Financing,Gujarat,https://www.kjit.org/,info@kjit.org
1-7011714051,L. D. COLLEGE OF ENGINEERING,"NEAR GUJARAT UNIVERSITY, NAVRANGPURA, AHMEDABA...",AHMEDABAD,Government,Gujarat,http://ldce.ac.in/,LDCE-PICTURESQUE-@-NIGHT.jpg

## 2. Saving Duplicate emails

In [89]:
#b.to_csv('C:/Users/MyPC/OneDrive/Documents/Inbiot VS/Filtering/No 3P Dupl Remove/ACTUAL Cleaned/Duplicate and Useless Emails/Duplicate_and_useless_emails.csv')

## 3. Searching Null Emails

In [81]:
df.isnull().sum()

NAME            0
ADDRESS         0
DISTRICT        0
INSTITUTE       0
STATE           0
WEBSITE         0
EMAIL        1101
dtype: int64

In [82]:
c=df[pd.isnull(df.EMAIL)]

In [83]:
c.head(2)

,NAME,ADDRESS,DISTRICT,INSTITUTE,STATE,WEBSITE,EMAIL
AICTE ID,,,,,,,
1-7003786958,GOVERNMENT POLYTECHNIC MAYEM BICHOLIM,MAYEM BICHOLIM GOA,NORTH GOA,Government,Goa,http://gpb.goa.gov.in/,NaN
1-7014481936,AGNEL INSTITUTE OF TECHNOLOGY AND DESIGN,"ASSAGAO, BARDEZ, GOA.",NORTH GOA,Private-Self Financing,Goa,https://aitdgoa.edu.in/,NaN

## 4. Saving Null emails

In [84]:
#c.to_csv('C:/Users/MyPC/OneDrive/Documents/Inbiot VS/Filtering/No 3P Dupl Remove/ACTUAL Cleaned/Null Emails/Null_emails.csv')

## 5. Deleting Duplicates Emails

In [90]:
b=df[df['EMAIL'].str.contains('|'.join(search),na=False)]
b.head(4)
p=(b.index).tolist()
df.drop(labels=p,inplace=True)

## 6. Deleting Null Emails

In [91]:
df = df.dropna(axis=0, how='any')

In [87]:
df.shape[0]

2538

# FINAL Data for Zonal Distribution

In [92]:
#df.to_csv('C:/Users/MyPC/OneDrive/Documents/Inbiot VS/Filtering/No 3P Dupl Remove/ACTUAL Cleaned/FINAL FOR ZONAL DISTRUBTION/Final.csv')